body {
  background-color: $belize-hole;
}

a, a:hover {
  text-decoration: none;
}

code {
  background: $wet-asphalt;
  color: $clouds;
}

.thumbnail {
  background-color: $clouds;
  // border-color: $silver;
  border: none;
  // box-shadow: none;

  .caption {
    color: $midnight-blue;
  }
}

.panel {
  &.panel-default {
    border: none;

    .panel-heading {
      background: $midnight-blue;
      color: $nephritis;

      h2.panel-title {
        @include Lato-Bold;
        font-size: 20px;
      }
    }
    .panel-body {
      background: $clouds;
    }
    .panel-footer {
      border: none;
      background: $silver;
    }
  }
}

.alert {
  border: none;
  @include Lato-Light;
  font-size: 20px;

  &.alert-danger {
    background: $pomegranate;
    color: $clouds;
  }
  &.alert-success { // Green
    background: $nephritis;
    color: $clouds;
  }
  &.alert-warning { // Yellow
    background: $pumpkin;
    color: $clouds;
  }
  &.alert-info { // Blue
    background: $belize-hole;
    color: $clouds;
  }
}