#splash {
  #content {
    #logo {
      // margin-top: 50px;
    }
    #blurb {
      h2 {
        color: $midnight-blue;
        text-align: center;
      }
      p {
        @include Lato-Light;
        font-size: 22px;
        color: $clouds;
        text-align: center;
      }
    }
    #signup {
      input {
        @include Lato-Light;
        font-size: 2em;
        line-height: 2em;
        height: 2em;
      }
      #submit {
        @include Lato-Bold;
        font-size: 22px;
      }
    }
  }
}